<li class="list-group-item" id='comment-{{comment.id}}'>
        <span>{{comment.user.username}} </span><span class="fas fa-comment-dots commentItem">{{comment.contents}}</span>
        {% if comment.user_id == user.id %}
        <span class="float-right">
            <button class="btn btn-warning editComment" data-id="{{comment.id}}" data-value="{{article.id}}"><i class="far fa-edit" ></i></button>
            <button class="btn btn-danger deleteComment" data-id="{{comment.id}}" data-value="{{article.id}}"><i class="far fa-trash-alt" ></i></button>
        </span>
        {%  endif %}
    </li>