{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<style>
    .container {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
</style>
{% endblock %}


{% block content%}
<div class="container">
    <div class="card">
        <form action="{% url 'jae:articles' %}" method='POST' enctype="multipart/form-data">
            <input type="text" name=csrfmiddlewaretoken value="{{csrf_token}}" hidden>
            <div class="card-body">
                <textarea class="form-control" rows="5" name='contents' placeholder="내용"></textarea>
                <div class="input-group mt-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                            aria-describedby="inputGroupFileAddon01" multiple>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="작성하기">
            </div>
        </form>
    </div>
</div>
<div class="container">
    {%for article in articles%}
    <div class="mt-4">
        <div class="card col-12">

            {% if article.article_images %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {%for image in article.article_images%}
                      <div class="carousel-item {%if image.image_thumbnail.url == article.article_images.first.image_thumbnail.url%}active{% endif %}">
                        <img src="{{image.image_thumbnail.url}}" class="d-block w-100" alt="...">
                      </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

            {% endif %}

            <div class="card-body" style="min-height: 9rem;">
                <p class="card-text">{{article.contents}}</p>
                <span class="float-right">
                    <a href="{% url 'jae:edit' article.id %}" class="btn btn-warning"><i class="far fa-edit"></i>게시글
                        수정</a>
                    <a href="{% url 'jae:delete' article.id%}" class="btn btn-danger"><i
                            class="far fa-trash-alt"></i>게시글 삭제</a>
                </span>
            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form class= "commentForm" data-value="{{article.id}}">
                        <input type="hidden" name="article_id" value="{{article.id}}" data-value="{{article.id}}" id="article_comment">
                        <div class="row">
                            <div class="col-9">
                                <input type="text" id="commentInput-{{article.id}}" class="form-control" name="contents">
                            </div>
                            <div class="col-3 text-center">
                                <button type="submit" class="btn btn-primary" id ='submitComment'>작성</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class ="list-group list-group-flush" id='comment_{{article.id}}'>
                {% for comment in article.comments %}
             
                <li class="list-group-item" id='comment-{{comment.id}}'>
                    <span class="fas fa-comment-dots commentItem">{{comment.contents}}</span>
                    <span class="float-right">
                        <button class="btn btn-warning editComment" data-id="{{comment.id}}" data-value="{{article.id}}"><i class="far fa-edit" ></i>수정</button>
                        <button class="btn btn-danger deleteComment" data-id="{{comment.id}}" data-value="{{article.id}}"><i class="far fa-trash-alt" ></i>삭제</button>
                    </span>
                </li>
                {% endfor %}

         </ul>   
                
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}

{% block script %}
<script>
    //edit 눌렀을 때
    $(document).on('click', '.editComment',function(){
        var comment_id = $(this).data('id');
        var contents =$('#comment-'+comment_id+' .commentItem').text();
        var article_id = $(this).data('value');
        $('#commentInput-'+article_id).val(contents);
        $('#submitComment').data('method','edit');
        $('#submitComment').data('id',comment_id);
    })
    
    //삭 제 !
    $(document).on('click','.deleteComment',function(){
        var comment_id = $(this).data('id');
        $.ajax({
                    url: '{% url "jae:delete_comment" %}',
                    method: 'POST',
                    data: {
                        comment_id: comment_id,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function (data) {
                        alert('삭제성공');
                        $('#comment-' + data.comment_id).remove();
                    },
                    error: function (data) {
                        alert('삭제실패');
                    }
                })
    })



     $(document).on('submit', ".commentForm",function (e) {
                event.preventDefault(); //submit 됐을 때 보통 페이지가 바뀌는데 , 이걸 넣어두면 submit을 눌러도 바로 제출되지 않음.
                //실제 DB에 등록이 될 수 있게끔 Ajax 요청 만들어 줌 
                //console.log($(this).serialize());
                var article_id = $(this).data('value');
                var comment = $('#commentInput-'+article_id).val();
                $('#commentInput-'+article_id).val(' ');
                    
                if($('#submitComment').data('method')=='edit'){
                    var id = $('#submitComment').data('id');
                    $.ajax({
                        url: '{% url "jae:edit_comment" %}',
                        method : 'POST',
                        data : {
                            comment_id:id,
                            contents:comment,
                            csrfmiddlewaretoken: "{{csrf_token}}"
                        },
                        success : function(data){
                    
                            $('#comment-'+id+' .commentItem').text(comment);
                            $('#submitComment').removeData('method');
                        },
                        error: function(data){

                        }
                    })
                }else{
                    $.ajax({
                    url: '{% url "jae:submit_comment" %}',
                    method: 'POST',
                    data: {
                        comment: comment,
                        article_id: article_id,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function (data) {
                        $('#comment_'+article_id).prepend(data);

                    },
                    error: function (data) {
                        alert('실패 ');
                    }
                })
                }    

            })

</script>
{% endblock %}