{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<style>
    .container {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
</style>
{% endblock %}


{% block content%}
<div class="container">
    <div class="card">
        <form action="{% url 'jae:articles' %}" method='POST' enctype="multipart/form-data">
            <input type="text" name=csrfmiddlewaretoken value="{{csrf_token}}" hidden>
            <div class="card-body">
                <textarea class="form-control" rows="5" name='contents' placeholder="내용"></textarea>
                <div class="input-group mt-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                            aria-describedby="inputGroupFileAddon01" multiple>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="작성하기">
            </div>
        </form>
    </div>
</div>
<div class="container">
    {%for article in articles%}
    <div class="mt-4">
        <div class="card col-12">

            {% if article.article_images %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {%for image in article.article_images%}
                      <div class="carousel-item {%if image.image_thumbnail.url == article.article_images.first.image_thumbnail.url%}active{% endif %}">
                        <img src="{{image.image_thumbnail.url}}" class="d-block w-100" alt="...">
                      </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

            {% endif %}

            <div class="card-body" style="min-height: 9rem;">
                <p class="card-text">{{article.contents}}</p>
                <span class="float-right">
                    <a href="{% url 'jae:edit' article.id %}" class="btn btn-warning"><i class="far fa-edit"></i>게시글
                        수정</a>
                    <a href="{% url 'jae:delete' article.id%}" class="btn btn-danger"><i
                            class="far fa-trash-alt"></i>게시글 삭제</a>
                </span>
            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="{% url 'jae:comments' %}" method="POST">
                        <input type="hidden" name=csrfmiddlewaretoken value="{{csrf_token}}">
                        <input type="hidden" name="article_id" value="{{article.id}}">
                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control" name="contents">
                            </div>
                            <div class="col-3 text-center">
                                <input type="submit" class="btn btn-primary" value="작성">
                            </div>
                        </div>
                    </form>
                </li>
                {% for comment in article.comments %}
                <li class="list-group-item">
                    <i class="fas fa-comment-dots">{{comment.contents}}</i>
                    <span class="float-right">
                        <a href="{% url 'jae:edit_comment' comment.id%}" class="btn btn-warning"><i
                                class="far fa-edit"></i>수정</a>
                        <a href="{% url 'jae:delete_comment' comment.id %}" class="btn btn-danger"><i
                                class="far fa-trash-alt"></i>삭제</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}