{%extends 'base.html'%}

{%block content%}
<div class="container">
        <div class="card">
            <form action="{% url 'jae:edit_comment' comment.id %}" method='POST'>
                <input type="text" name=csrfmiddlewaretoken value="{{csrf_token}}" hidden>
                <div class="card-body">
                    <textarea class="form-control" rows="5" name='contents'>{{comment.contents}}</textarea>
                </div>
                <div class="card-footer text-right">
                    <input type="submit" class="btn btn-success" value="작성하기">
                </div>
            </form>
        </div>
    </div>

{%endblock%}